{% extends "uploads/base.html" %}
{% block content %}
{% if user.is_superuser %}
    <h1>Essays from Students</h1>
    {% if post %}
        {% for post0 in post %}
        <div class="media-body">
            <h4>{{ post0.student }}</h4>
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post0.title }}</a>
                <small class="text-muted">{{ post0.created_at }}</small>
            </div>
            <h2>
                <a class="article-title" href="{% url 'post-detail' post0.id %}">{{ post0.content }}</a>
            </h2>
            <p class="article-content">{{ post0.created_at|date:'F d, Y' }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No essays available.</p>
    {% endif %}
{% endif %}
{% endblock content %}